* {
    font-family: 'Montserrat', sans-serif;
}

.bold {
    font-weight: bold;
}

.container {
    width: 100%;
    background-color: #ddd;
}

.skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}

.html {width: 70%; background-color: #04AA6D;}
.css {width: 50%; background-color: #2196F3;}
.js {width: 45%; background-color: #f44336;}
.java {width: 40%; background-color: #808080;}
.react {width: 10%; background-color: #00bcd4;}
